ul.a {
  list-style-type: none;
}

.left {
	float : left;
	background: steelblue;
	margin : 1.5%;
}

.left2 {
	float : left;
	background: white;
	margin : 1.5%;
}

body {
	background-color: lightblue;
}